<div></div>

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <h1>Здравствуйте, <%= name %>!</h1>
    <h3>Ваш сервер работает на <%= hostname %>:<%= port %></h3>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
